/**************************** TAG SELECTORS ******************************/
body{
    background-color: bisque;
}

h1{
    color: red;
    font-size: 200px;
}

/**************************** CLASS SELECTORS ******************************/
.bacon{
    background-color: aqua;
}

/**************************** ID SELECTORS ******************************/
#heading{
    color: blue;
}